<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fancy Pants</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fancy Pants</a>
      </div>
    </div>
    </nav>


    <div class="jumbotron">
      <div class="container">
        <h1>Hello, Tel Aviv!</h1>
        <p>So many visitors have been here: </p>
	<p class="text-success">We hope you have good time!</p>
	<p><a class="btn btn-primary btn-lg"
	href="http://aws.amazon.com/summits/tel-aviv/" role="button" target="_blank">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <img src="img/telaviv.jpg"/>
      <hr>
      <footer>
      <p>&copy; Oliver Arafat 2015</p>
      </footer>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
